[Unit]
Description=Statefalse PostgreSQL backup
After=postgresql.service statefalse.service

[Service]
Type=oneshot
ExecStart=/opt/statefalse/deploy/backup-statefalse.sh
User=postgres
Environment=PGPASSFILE=/var/lib/postgresql/.pgpass
